<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://raceplaceangular.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>raceplaceangular.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>raceplaceangular</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$raceplaceangular</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RacePlaceDbfEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:v7tro2qvy6.database.windows.net,1433;Initial Catalog=RacePlaceDbf;User ID=netdevjamie@v7tro2qvy6;Password=Cloud9^ir" Name="Data Source=tcp:v7tro2qvy6.database.windows.net,1433;Initial Catalog=RacePlaceDbf;User Id=netdevjamie@v7tro2qvy6;Password=Cloud9^ir" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=v7tro2qvy6.database.windows.net,1433;Initial Catalog=RacePlaceDbf;Persist Security Info=True;User ID=netdevjamie@v7tro2qvy6;Password=Cloud9^ir;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RacePlaceDbfEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/RacePlaceDbf.csdl|res://*/RacePlaceDbf.ssdl|res://*/RacePlaceDbf.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=v7tro2qvy6.database.windows.net,1433;initial catalog=RacePlaceDbf;persist security info=True;user id=netdevjamie@v7tro2qvy6;password=Cloud9^ir;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RacePlaceDbfEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/RacePlaceDbf.csdl|res://*/RacePlaceDbf.ssdl|res://*/RacePlaceDbf.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:v7tro2qvy6.database.windows.net,1433;initial catalog=RacePlaceDbf;user id=netdevjamie@v7tro2qvy6;password=Cloud9^ir;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>